h2 {
    font-family: 'Amatic SC';
    font-size: 3.5rem;
}

a {
    font-family: 'Write Song';
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
    text-decoration: none;
}

#margem {
    padding-left: 15%;
}