<div id="margem">
    <h2> Available plants: </h2>
    <ul>
        <li *ngFor="let plant of plants">
            <a [routerLink]="['../single-plant/', plant.id]"> {{ plant.name }} </a>
        </li>
    </ul>
</div>