<div class="margem">

    <header>
        <h2> {{ plant.name }} </h2>
    </header>

    <ul>
        <li> Plant name: 
            <strong> {{ plant.name }} </strong>
        </li>
        <li> Plant type:
            <strong> {{ plant.type }} </strong>
        </li>
    </ul>

    <button type="button" (click)="updateData(plant.id!)"> Update plant </button>
    <button type="button" (click)="deletePlant(plant.id!)"> Delete plant </button>

</div>