h2 {
    font-family: 'Amatic SC';
    font-size: 3rem;
    font-weight: bold;
}

li {
    font-family: 'Write Song';
    font-size: 2rem;
    font-weight: bold;
}

.margem {
    padding-left: 10%;
}

button {
    font-family: 'Write Song';
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20%;
    margin-top: 2%
}