h2 {
    font-family: 'Amatic SC';
    font-size: 3.5rem;
}

label {
    font-family: 'Write Song';
    font-size: 2rem;
    font-weight: bold;
}

input, button {
    font-family: 'Write Song';
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 5px;
}

.alinhar {
    display: grid;
    grid-template-columns: 10% 50%;
}

.margem {
    padding-left: 10%;
}

article {
    margin-bottom: 1%;
}

button {
    margin-top: 1%;
    margin-left: 50%;
    cursor: pointer;
}