<div class="margem">

<h2> Update plant data: </h2>

<article class="alinhar">
    <label> Plant name: </label>
    <input [(ngModel)]="plant.name" type="text" placeholder="Updated plant name">
</article>

<article class="alinhar">
    <label> Plant type: </label>
    <input [(ngModel)]="plant.type" type="text" placeholder="Updated plant type">
</article>

<button (click)="updateData(plant)" type="submit"> Update </button>

</div>