header {
    font-family: 'Amatic SC';
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: -3%;
    padding-bottom: 1%;
}

section {
    font-family: 'Avocado Cake';
    font-size: 1.5rem;
    padding-bottom: 3%;
}

header, section {
    padding-left: 10%;
}

label, input, button {
    font-family: 'Write Song';
    font-size: 2rem;
    font-weight: bold;
}

button, input {
    border-radius: 5px;
}

label {
    text-align: center;
    padding-left: 35%;
}
label, input {
    margin-bottom: 1%;
}

.alinhamento {
    display: grid;
    grid-template-columns: 20% 40%;
}

button {
    font-size: 1.7rem;
    margin-top: 1%;
}

.botao {
    text-align: center;
}