<header>Adding a new plant:</header>

<section>Please, fill the fields carefully!</section>

<form (ngSubmit)="adding(plant)" [formGroup]="addForm">

    <article class="alinhamento">
        <label> Plant name: </label>
        <input formControlName="name" type="text" placeholder="Exs.: Echeveria pulvinata, String of dolphins">
    </article>

    <article class="alinhamento">
        <label> Plant type: </label>
        <input formControlName="type" type="text" placeholder="Exs.: Succulent, Foliage">
    </article>

    <div class="botao">
        <button type="submit"> That's it! </button>
    </div>

</form>