@font-face {
    font-family: Amatic SC;
    src: url("../assets/AmaticSC-Regular.ttf");
}

@font-face {
    font-family: Write Song;
    src: url("../assets/Please-write-me-a-song.ttf");
}

@font-face {
    font-family: Avocado Cake;
    src: url("../assets/Avocado-Cake-Demo.otf");
}

#background {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../assets/background-echeveria.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

h1 {
    font-family: 'Amatic SC';
    font-size: 5rem;
    text-align: center;
    padding-right: 40%;
    margin-top: 0;
    padding-top: 5%;
}

a {
    text-decoration: none;
    color: black;
}