<div class="margem">

<h2> {{ plant.name }} </h2>

<h3> Do you really wish to delete this plant? </h3>

<section> Remember, you won't be able to restore any of its data! Delete only if you're sure about it! </section>

<button type="submit" (click)="deletePlant(plant.id!)"> Delete it anyway </button>

</div>