h2 {
    font-family: 'Amatic SC';
    font-size: 3.5rem;
}

h3 {
    font-family: 'Avocado Cake';
    font-size: 2rem;
    font-weight: bold;
}

section {
    font-family: 'Write Song';
    font-size: 2.2rem;
    font-weight: bold;
}

button {
    font-family: 'Write Song';
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3%
}

.margem {
    padding-left: 10%;
}