article, input, button {
    font-family: 'Write Song';
    font-weight: bold;
}

article {
    font-size: 2.3rem;
}

input, button {
    border-radius: 5px;
    font-size: 1.8rem;
}

button {
    margin-left: 1%;
}