h2 {
    font-family: 'Avocado Cake';
    font-size: 1.8rem;
}

a {
    font-family: 'Write Song';
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray
}

.margem {
    padding-left: 10%;
}