h3 {
    font-family: 'Amatic SC';
    font-size: 2.8rem;
}

a {
    font-family: 'Write Song';
    font-size: 2.3rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    color: gray;
}

#margem {
    padding-left: 10%;
}