<div id="margem">
<h3> What would you like to do? </h3>
<ul>
    <li><a (click)="seeAll()" routerLink="all"> See all plants </a></li>
    <li><a (click)="add()" routerLink="add"> Add a new plant </a></li>
    <li> <app-search></app-search> </li>
</ul>
</div>